---
layout: default
---

<div class="page clearfix" index>
    <div class="left">
        <h1>Welcome!</h1>
        <p>We are building a community of open source geospatial software users at LSU. Anyone is welcome to join, just <a href="#get-involved">get on our mailing list</a> to get details ahead of each meeting.</p>
        <p>If you are interested in presenting, or have a topic you would like to learn more about, checkout the <a href="/presentations">presentations</a> page where you can sign up or suggest a topic. Presentations are very informal.</p>
        <p>We've also started recording our meetings, and will be posting the videos below.</p>
        {% include schedule_table.html %}
        <hr>
        <h3 id="get-involved">Get Involved</h3>
        <p>To get announcements about upcoming meetings and more, join our LSU listserv. Send an email to <a href="mailto:listserv@lsu.edu">listserv@listserv.lsu.edu</a> with this text for the body: <code>SUBSCRIBE geoforall_lsu &#60;Your Name&#62;</code> (example: <code>SUBSCRIBE geoforall_lsu Buster Keaton</code>). No subject line is necessary.</p>
        <p>We also have a public-facing <a href="https://groups.google.com/forum/#!forum/geo-for-all-lsu">discussion forum</a> for sharing resources that anyone is welcome to join.</p>
        <hr>
        <ul>
            {% for post in paginator.posts %}
              <li>
                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <div class="label">
                    <div class="label-card">
                        <i class="fa fa-calendar"></i>{{ post.date | date: "%F" }}
                    </div>
                    <div class="label-card">
                        {% if post.author %}<i class="fa fa-user"></i>{{ post.author }}
                        {% endif %}
                    </div>
                    <div class="label-card">
                        {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}
                    </div>

                    <div class="label-card">
                    {% include category.html %}
                    </div>

                    <div class="label-card">
                    {% include tag.html %}
                    </div>
                </div>
                <div class="excerpt">
                    {{post.excerpt}}...
                </div>
                <div class="read-all">
                    <a  href="{{ post.url | prepend: site.baseurl }}">Continue reading&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
                </div>
                <hr>
              </li>
            {% endfor %}
        </ul>



        <!-- Pagination links -->
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="/index.html" class="previous"><i class="fa fa-angle-double-left"></i></a>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous"><i class="fa fa-angle-left"></i></a>
          {% else %}
            <span class="previous disable"><i class="fa fa-angle-double-left"></i></span>
            <span class="previous disable"><i class="fa fa-angle-left"></i></span>
          {% endif %}
          <span class="page_number ">{{ paginator.page }}/{{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-angle-right"></i></a>
            <a href="{{ site.baseurl }}/page{{ paginator.total_pages }}" class="next"><i class="fa fa-angle-double-right"></i></a>
          {% else %}
            <span class="next disable"><i class="fa fa-angle-right"></i></span>
            <span class="next disable"><i class="fa fa-angle-double-right"></i></span>
          {% endif %}
        </div>
    </div>
    <!-- <button class="anchor"><i class="fa fa-anchor"></i></button> -->
    <div class="right">
        <div class="wrap">

            <!--{% include next-meeting-box.html %}-->

            {% include sidebar-links.html %}

            {% include flyer-side-bar.html %}

            <div class="side">
                <div>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Recent Posts
                </div>
                <ul class="content-ul" recent>
                    {% for post in site.posts offset: 0 limit: 10  %}
                        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

			<!-- Remove Categories and Tags sidebars: not super useful and need style updates to be web accessibility. -->
            <!--
            <div class="side ">
                <div>
                    <i class="fa fa-th-list"></i>
                    Categories
                </div>
                <ul class="content-ul" cate>
                    {% for category in site.categories %}
                    <li>
                        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" class="categories-list-item" cate="{{ category | first }}">
                            <span class="name">
                                {{ category | first }}
                            </span>
                            <span class="badge">{{ category | last | size }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            {% include side-bar-tags.html %}

            <div class="side">
                <div>
                    <i class="fa fa-external-link"></i>
                    Links
                </div>
                <ul  class="content-ul">

                </ul>
            </div> -->
        </div>
    </div>
</div>
<!-- <script src="{{ "/js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
<!-- <script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
