<div class="post-recent">
    <div class="pre" style="float: left">
        {% if page.previous %}
        <p><strong> < previous post</strong><br><a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a></p>
        {% endif %}
    </div>
    <div class="nex" style="float: right; text-align: right;">

        {% if page.next %}
        <p><strong>next post > </strong><br><a href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a></p>
        {% endif %}
    </div>
</div>
