<table>
<thead>
    <tr>
        <th>date</th>
        <th>location</th>
        <th>topic</th>
        <th>presenter</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Apr 15, 2020</td>
        <td>TBD</td>
        <td>Wildlife Corridor Modeling</td>
        <td>Andrew Wright</td>
    </tr>
    <tr>
        <td>Apr 1, 2020</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Mar 18, 2020</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Mar 4, 2020</td>
        <td>Design 308</td>
        <td>GitHub, Markdown, and Open Science</td>
        <td>Brendan Harmon</td>
    </tr>
    <tr>
        <td>Feb 19, 2020</td>
        <td>Design 308</td>
        <td>Georeferencing Historic Maps with QGIS</td>
        <td>Adam Cox</td>
    </tr>
    <tr>
        <td>Feb 5, 2020</td>
        <td>Design 308</td>
        <td><a href="https://drive.google.com/open?id=18O7mk7I4u6R9Cb499sE-UxfbNUkpYvr3BFZPf-dKbps">OSGeo and FOSS4G Resources</a></td>
        <td>Adam Cox & Brendan Harmon</td>
    </tr>
    <tr>
        <td>Jan 22, 2020</td>
        <td>Design 308</td>
        <td><a href="https://drive.google.com/open?id=1LdFp4FfVBMo5tKLWG-0EOMX7_I6eORvnbf6i-7h2k4g">Welcome Meeting</a></td>
        <td>Adam Cox</td>
    </tr>
</tbody>
</table>