<table>
<caption style="font-size: 1.3em;">Presentation Schedule - Spring 2020</caption>
<thead>
    <tr>
        <th>date</th>
        <th>location</th>
        <th>topic</th>
        <th>presenter</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Apr 15th</td>
        <td>Student Union 312</td>
        <td>Wildlife Corridor Modeling</td>
        <td>Andrew Wright</td>
    </tr>
    <tr>
        <td>April 1st</td>
        <td>World Wide Web</td>
        <td>GitHub, Markdown, and Open Science</td>
        <td>Brendan Harmon</td>
    </tr>
    <tr>
        <td>Feb 19th</td>
        <td>Howe-Russell 254</td>
        <td><a href="https://docs.google.com/presentation/d/e/2PACX-1vTX77DU5-MHPIaD9MTXl2dlu2ltTCa_uWJtwcTs70rnGYSeSIql1dU9m1PnwZS38w/pub?start=false&loop=false&delayms=3000">Georeferencing Historic Maps with QGIS</a></td>
        <td>Adam Cox</td>
    </tr>
    <tr>
        <td>Feb 5th</td>
        <td>Design 308</td>
        <td><a href="https://drive.google.com/open?id=18O7mk7I4u6R9Cb499sE-UxfbNUkpYvr3BFZPf-dKbps">OSGeo and FOSS4G Resources</a></td>
        <td>Adam Cox & Brendan Harmon</td>
    </tr>
    <tr>
        <td>Jan 22nd</td>
        <td>Design 308</td>
        <td><a href="https://drive.google.com/open?id=1LdFp4FfVBMo5tKLWG-0EOMX7_I6eORvnbf6i-7h2k4g">Welcome Meeting</a></td>
        <td>Adam Cox</td>
    </tr>
</tbody>
</table>
