<table>
<caption style="font-size: 1.3em;">Presentations - Spring 2020</caption>
<thead>
    <tr>
        <th>date</th>
        <th>topic</th>
        <th>presenter</th>
        <th style="text-align: center">see it!</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Apr 15th</td>
        <td>Wildlife Corridor Modeling</td>
        <td>Andrew Wright & Tanvi Shah</td>
        <td></td>
    </tr>
    <tr>
        <td>Apr 8th</td>
        <td>Programming in GIS - A QGIS Example</td>
        <td>Adam Cox</td>
        <td style="text-align: center"><a href="https://geoforall-lsu.s3.us-east-2.amazonaws.com/Meeting_Records/2020-04-08+13.05.34+Geo+for+All+-+LSU+8831066010/zoom_1.mp4"><img src="img/presentation2_thumbnail.jpg" style="height: 175px;"></video></td>
    </tr>
    <tr>
        <td>April 1st</td>
        <td>GitHub, Markdown, and Open Science</td>
        <td>Brendan Harmon</td>
        <td style="text-align: center"><a href="https://geoforall-lsu.s3.us-east-2.amazonaws.com/Meeting_Records/2020-04-01+13.02.44+Geo+for+All+-+LSU+684715192/zoom_0.mp4"><img src="img/presentation1_thumbnail.jpg" style="height: 175px;"></video></td>
    </tr>
    <tr>
        <td>Feb 19th</td>
        <td>Georeferencing Historic Maps with QGIS</td>
        <td>Adam Cox</td>
        <td><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTX77DU5-MHPIaD9MTXl2dlu2ltTCa_uWJtwcTs70rnGYSeSIql1dU9m1PnwZS38w/embed?start=false&loop=false&delayms=3000" frameborder="0" width="300" height="175" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </tr>
    <tr>
        <td>Feb 5th</td>
        <td>OSGeo and FOSS4G Resources</td>
        <td>Adam Cox & Brendan Harmon</td>
        <td><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ2q6mNvK-mM2cZh8yBxS9pF7g_A7n9w5MIPdKD1zpIAJ_8RhPH0aOiBZwiv_qAtpQcK1wtnM3gI_oS/embed?start=false&loop=false&delayms=3000" frameborder="0" width="300" height="175" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></td>
    </tr>
    <tr>
        <td>Jan 22nd</td>
        <td>Welcome Meeting</td>
        <td>Adam Cox</td>
        <td><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRtNIoFBbDv2-xfx8kaJ_wNkFmoJPzWGngaEAhV2KdbCM3Kx2v3CgyZCbifhwuwfHzQcCMD8KfkFmLB/embed?start=false&loop=false&delayms=3000" frameborder="0" height="175" width="300px" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></td>
    </tr>
</tbody>
</table>
