body,
html,
div,
header,
footer,
nav,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
html {
    height: 100%;
}
body {
    font-family: 'Muli',sans-serif;
    color: #333;
    background-image: url(../img/background-pattern.png);
    position: relative;
    min-height: 100%;
    padding-bottom: 190px;
}
a {
    text-decoration: none;
}
button {
    border: none;
    outline: none;
}
hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

.sr-only {
	display: None;
}


///////////
h1,
h2 {
    font-size: 26px;
    border-bottom: 1px solid #eee;
    margin: 25px 0 15px;
}
h3 {
    font-size: 23px;
    margin: 25px 0 15px;
}
h4 {
    font-size: 19px;
    margin: 20px 0 10px;
}
h5 {
    font-size: 17px;
    margin: 20px 0 10px;
}
h6 {
    font-size: 16px;
    margin: 10px 0 5px;
}
blockquote {
    color: #444;
    border-left: 5px solid #D6DBDF;
    padding-left: 15px;
    background: rgba(112,138,153,.1);
    padding: 10px 20px;
    margin: 0 0 20px;
    p:last-of-type{
        margin: 0;
    }
}
table {
    border: 2px solid #333;
    margin: 8px 0;
    border-collapse: collapse;
    thead {
        border-bottom: 1px solid #333;
        background-color: #555;
        color: #fff;
    }
    th {
        padding: 2px 10px;
        text-align: left;
    }
    tbody {
        tr {
            &:nth-of-type(2n+1) {
                background-color: #f8f8fd;
            }
            &:nth-of-type(2n) {
                background-color: #efefef;
            }
        }
    }
    td {
        padding: 2px 10px;
    }
}
p {
    margin: 0 0 14px;
}
img {
    max-width: 100%;
}

/* latin-ext */
// @font-face {
//   font-family: 'Muli';
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src: url(../font/Muli_latin-ext.woff2) format('woff2');
//   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/Muli.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
