---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <article itemscope itemtype="http://schema.org/BlogPosting">
        {{content}}
        </article>
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content" style="margin-bottom: 20px">
                <div>
                   Next Meeting
                </div>
                <div>
                   Date: {{ site.next_meeting_date }}<br>
                   Location: {{ site.next_meeting_location }}
                </div>
            </div>

            <!-- Content -->
            {% if page.hide_toc != true %}
            <div class="side content">
                <div>
                    Content
                </div>
                <ul id="content-side" class="content-ul">
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
/**
 * target _blank
 */
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
