---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <article itemscope itemtype="http://schema.org/BlogPosting">
        {{content}}
        </article>
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i><span class="sr-only">Top Anchor</span></button>
    <div class="right">
        <div class="wrap">

            {% include sidebar-links.html %}

            <!-- Content -->
            {% if page.hide_toc != true %}
            <div class="side content" style="margin-bottom: 20px;">
                <div>
                    Content
                </div>
                <ul id="content-side" class="content-ul">
                </ul>
            </div>
            {% endif %}

            <div class="side content">

                <div>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Recent Posts
                </div>
                <ul class="content-ul" recent>
                    {% for post in site.posts offset: 0 limit: 10  %}
                        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
/**
 * target _blank
 */
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
<!--<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>-->
